/* css reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a{
  text-decoration: none;
}


/* main styles */

header {
  background: #232323;
  color: #fff;
  padding: 20px, 30px;

}

/* logo */

header #logo {
  color: #fff;
  text-decoration: none;
  width: 49%;
  display: inline-block;
}

header #logo img {
  width: 80px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
  padding: 10px;
  
}





/* navigation */

header #main-navigation {
  
  width: 49%;
  display: inline-block;
  text-align: right;
}

header #main-navigation ul {
  list-style: none;
  padding: 10px;
  padding-top: 0px;
}

header #main-navigation ul li {
  display: inline-block;
}

header #main-navigation ul li a {
  color:#fff;
  text-decoration: none;
  padding: 15px;
  
}


header #twitter img {
   width: 50px;
  margin-right: 8px;
  vertical-align: middle;
  padding: 10px;

}

header #github img {
   width: 50px;
  margin-right: 8px;
  vertical-align: middle;
  padding: 10px;
}

header #email img {
   width: 50px;
  margin-right: 8px;
  vertical-align: middle;
  padding: 10px;
}

header #phone img {
   width: 50px;
  margin-right: 8px;
  vertical-align: middle;
  padding: 10px;
}

header #twitter img:hover {
   -webkit-filter: invert(1);
   filter: invert(1); 
   transition: 0.5s ease all;
}

header #github img:hover {
   -webkit-filter: invert(1);
   filter: invert(1); 
   transition: 0.5s ease all;
}

header #email img:hover {
   -webkit-filter: invert(1);
   filter: invert(1); 
   transition: 0.5s ease all;
}

header #phone img:hover {
   -webkit-filter: invert(1);
   filter: invert(1); 
   transition: 0.5s ease all;
}


/* footer */

footer {
  background-color: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}

footer img {
  display: block;
  border-radius: 3px;
  width: 40px;
  margin: 0 auto 10px;
}

/* main content */

/* hero section */




.hero {
  
  min-height: 400px;
  text-align: center;
 
 background-color: #409bb8;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 30px;
}

.hero-content {
  color: #fff;
  padding-top: 50px;
  line-height: 1;
}

.hero-title {
  margin: 0;
  font-size: 60px;

}

.hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
  padding: 40px 200px;
  line-height: 1.4;
}



.hero-content a:hover {
  background:#232323;
  transition: 0.1s ease all;
}

/* site section syles */

.site-section {
  padding-bottom: 50px;
  padding-top: 50px;
  width: 80%;
  margin: auto;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #232323;
}


.section-header-2 {
  text-align: center;
  margin-bottom: 30px;
  padding-top:50px;
  background: #232323;
  min-height: 500px;
  
}

.section-header-2 h2 {
  
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.section-header-2 p {
  color: white;
}
/* learning section */

h5 {
  font-size: 20px;
  font-weight: 300;
  color: #232323;
}

.learning-headings a {
  color: #666;
;
}

.learning-headings a:hover {
  color: #e9ae16;
  transition: 0.5s ease all;
}

/* where to find me */

.find-header {
  text-align: center;
  margin-bottom: -30px;
  padding-top:50px;
  background: #64c49e;
  min-height: 500px;
  width: 100%;
  
}

.find-header h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}


.find-header ul {
  list-style: none;
  padding-top: 50px;
}

.find-header ul li a {
   color: white;
   background: #232323;
   padding: 5px 10px;
   text-align: center;
   margin-left: -35px;
}


.find-header a:hover {
   color:#999;
}



/* responsive styles */

@media screen and (max-width:768px) { 
  
  header #logo {
    min-width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  header #main-navigation {
    width: 100%;
    display: block;
    text-align: center;
  }

  .hero {
    min-height: 300px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .hero-content p {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 5px;
    width: 100%;
  }

  .hero-content a {
    font-size: 14px;
    padding: 10px 15px;
    border-width: 1px;
    margin-right: 0px;
  }

  /* feature boxes */
  .feature-box {
    width: 100%;
    display: block;
  }

  nav ul {
    margin-bottom: 0px;
  }

.find-header ul li a {
  align-content: center;
  text-align: center;

}